<div class="header-container">
    <div class="header-bar">
      <h1 class="logo">Demo</h1>
      <ul class="slider-menu">
        <li (click)="navigateTo('/')">Home</li>
        <li *ngIf="isLoggedIn" (click)="navigateTo('/users')">User List</li>
        <li *ngIf="isLoggedIn" class="username-display">{{ username }}</li>
        <li *ngIf="isLoggedIn" (click)="logout()">Log Out</li>
        <li *ngIf="!isLoggedIn" (click)="navigateTo('/login')">Sign In</li>
        <li *ngIf="!isLoggedIn" (click)="navigateTo('/register')">Sign Up</li>
      </ul>
    </div>
  </div>