<body class="align">
    <div class="grid">
      <div class="header">
        <svg class="icon icon-user" viewBox="0 0 24 24">
          <path d="M12 12c2.21 0 4-1.79 4-4s-1.79-4-4-4-4 1.79-4 4 1.79 4 4 4zm0 2c-2.67 0-8 1.34-8 4v2h16v-2c0-2.66-5.33-4-8-4z" />
        </svg>
        <h2>Member Login</h2>
      </div>
  
      <form #loginForm="ngForm" (ngSubmit)="loginForm.valid && onLogin()" class="form formInput">
        <div class="form__field">
          <input
            id="login__username"
            type="text"
            name="username"
            class="form__input"
            placeholder="Enter your username"
            [(ngModel)]="username"
            required
            #usernameInput="ngModel"
            [class.is-invalid]="usernameInput.invalid && (usernameInput.touched || usernameInput.dirty)"
          />
          <div *ngIf="usernameInput.invalid && (usernameInput.touched || usernameInput.dirty)" class="invalid-feedback">
            Username is invalid.
          </div>
        </div>
  
        <div class="form__field">
          <input
            id="login__password"
            type="password"
            name="password"
            class="form__input"
            placeholder="Enter your password"
            [(ngModel)]="password"
            required
            #passwordInput="ngModel"
            [class.is-invalid]="passwordInput.invalid && (passwordInput.touched || passwordInput.dirty)"
          />
          <div *ngIf="passwordInput.invalid && (passwordInput.touched || passwordInput.dirty)" class="invalid-feedback">
            Password is invalid.
          </div>
        </div>
  
        <div class="form__field form__checkbox">
          <!-- <label>
            <input type="checkbox" [(ngModel)]="rememberMe" name="rememberMe" />
            Remember me
          </label> -->
        </div>
  
        <div class="form__field">
          <input type="submit" value="LOGIN" [disabled]="loginForm.invalid" />
        </div>
      </form>
  
      <p *ngIf="errorMessage" class="text--center text-danger">{{ errorMessage }}</p>
      <div class="links text--center">
        <div class="link-item">
          <span class="link-text">Don't have an account? </span>
          <a class="highlight-link" (click)="navigateToRegister($event)">Sign Up Now</a>
        </div>
        <div class="link-divider">or</div>
        <div class="link-item">
          <a class="highlight-link" (click)="navigateToForgotPassword($event)">Forgot password?</a>
        </div>
      </div>
    </div>
  </body>