<body class="align">
    <div class="grid">
      <div class="header">
        <svg class="icon icon-edit" viewBox="0 0 24 24">
          <path d="M3 17.25V21h3.75L17.81 9.94l-3.75-3.75L3 17.25zM20.71 7.04c.39-.39.39-1.02 0-1.41l-2.34-2.34c-.39-.39-1.02-.39-1.41 0l-1.83 1.83 3.75 3.75 1.83-1.83z"/>
        </svg>
        <h2>Edit User</h2>
      </div>
  
      <div *ngIf="loading" class="text--center">
        <p>Loading...</p>
      </div>
  
      <div *ngIf="!loading && user; else noUser">
        <form #userForm="ngForm" (ngSubmit)="userForm.valid && onUpdate()" class="form formInput">
          <div class="form__field">
            <label for="id">ID:</label>
            <input
              type="text"
              id="id"
              class="form__input"
              [(ngModel)]="user.id"
              name="id"
              readonly
            >
          </div>
          <div class="form__field">
            <label for="username">Username:</label>
            <input
              type="text"
              id="username"
              class="form__input"
              [(ngModel)]="user.username"
              name="username"
              required
              #usernameInput="ngModel"
              [class.is-invalid]="usernameInput.invalid && (usernameInput.touched || usernameInput.dirty)"
            >
            <div *ngIf="usernameInput.invalid && (usernameInput.touched || usernameInput.dirty)" class="invalid-feedback">
             Username is invalid.
            </div>
          </div>
          <div class="form__field">
            <label for="password">Password:</label>
            <input
              type="password"
              id="password"
              class="form__input"
              [(ngModel)]="user.password"
              name="password"
              required
              #passwordInput="ngModel"
              [class.is-invalid]="passwordInput.invalid && (passwordInput.touched || passwordInput.dirty)"
            >
            <div *ngIf="passwordInput.invalid && (passwordInput.touched || passwordInput.dirty)" class="invalid-feedback">
             Password is invalid.
            </div>
          </div>
          <div class="form__field">
            <label for="email">Email:</label>
            <input
              type="email"
              id="email"
              class="form__input"
              [(ngModel)]="user.email"
              name="email"
              required
              #emailInput="ngModel"
              [class.is-invalid]="emailInput.invalid && (emailInput.touched || emailInput.dirty)"
            >
            <div *ngIf="emailInput.invalid && (emailInput.touched || emailInput.dirty)" class="invalid-feedback">
                Email is invalid.
            </div>
          </div>
          <div class="form__field">
            <input type="submit" value="Update" [disabled]="userForm.invalid" />
          </div>
          <div class="form__field">
            <input type="button" value="Back" class="secondary-button" (click)="goBack()" />
          </div>
        </form>
      </div>
  
      <ng-template #noUser>
        <p *ngIf="error" class="text--center text-danger">{{ error }}</p>
        <p *ngIf="!error" class="text--center">Don't found . Please back to list</p>
        <div class="form__field">
          <input type="button" value="Back" class="secondary-button" (click)="goBack()" />
        </div>
      </ng-template>
    </div>
  </body>